{%extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <p>
                <img src="{{ url_for('static', filename='img/download.jpg') }}" alt="watch">
                Apple watch
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <img src="{{ url_for('static', filename='img/images.jpg') }}" alt="laptop">
                mac book
            </p>
        </div>
    </div>

{% endblock %}